.about-company__container {
  padding: 0 50px 108px;

  @include vp-1023 {
    padding-bottom: 80px;
  }

  @include vp-767 {
    padding: 0 25px 80px;
  }
}

.about-company h2 {
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 15px 0;

  @include vp-1023 {
    margin-bottom: 10px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
  }
}

.about-company p {
  margin: 0;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }
}

.about-company__text-mob.is-hidden {
  @include vp-767 {
    display: none;
  }
}

.about-company__inner,
.about-company__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-company__inner {
  margin-bottom: 36px;

  @include vp-1023 {
    margin-bottom: 12px;
  }
}

.about-company__wrapper {
  padding-left: 250px;
  padding-bottom: 10px;
  min-height: 313px;
  background: url("../img/2022.png") top left/150px 320px no-repeat;
  color: $color-black-pearl;

  @include vp-1024 {
    @include retina {
      background: url("../img/2022@2x.png") no-repeat top left/150px 320px;
    }
  }

  @include vp-768 {
    @include retina {
      background: url("../img/2022@2x.png") no-repeat top left/150px 320px;
    }
  }

  @include vp-1023 {
    padding-left: 176px;
    min-height: 385px;
    padding-bottom: 0;
  }

  @include vp-767 {
    background: none;
    padding-left: 0;
    min-height: 305px;
  }
}

.about-company__btn {
  font-family: $ff-robotocondensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  min-width: 180px;
  margin-top: auto;
  align-self: flex-start;
  color: $color-deep-sky-blue;
  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;

  @include vp-767 {
    min-width: 160px;
    line-height: 15px;
    padding: 8px 15px 12px;
  }
}

.about-company__box.is-hidden {
  display: none;
}

.about-company__btn.no-js {
  display: none;
}

.about-company__box.no-js {
  display: block;
}
