.address {
  max-width: 345px;

  @include vp-767 {
    max-width: 100%;
    padding: 0 25px;
    border-top: 1px solid $color-tory-blue-opacity;
    border-bottom: 1px solid $color-tory-blue-opacity;
  }
}

.address h3 {
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  margin: 0 0 20px 0;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-767 {
    margin: 0;
    padding: 20px 0;
  }
}

.address__text {
  margin: 0;
  font-style: normal;
  color: $color-white-opacity-2;

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
  }
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-style: normal;
}

.address__link {
  line-height: 25px;
  color: $color-white-opacity-2;
  transition: opacity $trans-default;

  @include vp-767 {
    font-size: 14px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.address__inner {
  display: flex;
  gap: 6px;
  flex-direction: column;

  @include vp-767 {
    padding-bottom: 10px;
  }
}
