.btn {
  display: inline-flex;
  flex-wrap: wrap;
  font-family: $ff-robotocondensed;
  font-weight: 700;
  padding: 15px;
  align-self: center;
  justify-content: center;
  text-transform: uppercase;
  color: $color-default-white;

  background-color: $color-neon-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
