.catalog {
  background-color: $color-black-pearl;
  color: $color-default-white;
}

.catalog__container {
  padding: 65px 50px 143px;

  @include vp-1023 {
    padding: 54px 50px 75px;
  }

  @include vp-767 {
    padding: 48px 25px 86px;
  }
}

.catalog h2 {
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 52px 0;

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 27px;
  }
}

.catalog__link {
  display: inline-block;
  width: 100%;
  min-height: 650px;
  padding: 50px 40px;
  color: $color-default-white;
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  transition: opacity $trans-default;

  @include vp-1023 {
    min-height: 250px;
    padding: 37px 43px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    padding: 27px 50px 30px 30px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.catalog__link p {
  margin: 0;
  max-width: 193px;

  @include vp-1023 {
    max-width: 290px;
  }
}

.catalog__line-break {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.catalog__title-mob {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.catalog__title-desk {
  @include vp-767 {
    display: none;
  }
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 350px));
  row-gap: 30px;
  column-gap: 7%;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.catalog__link--production {
  @include vp-1024 {
    background: url("../img/svg/card-icon.svg") no-repeat bottom right,
      $gradient-catalog,
      url("../img/catalog/card-desk1.jpg") center/cover no-repeat;

    @include retina {
      background: url("../img/svg/card-icon.svg") no-repeat bottom right,
        $gradient-catalog,
        url("../img/catalog/card-desk1@2x.jpg") center/cover no-repeat;
    }
  }

  @include vp-768 {
    background: url("../img/svg/card-icon.svg") bottom right no-repeat,
      $gradient-catalog,
      url("../img/catalog/card-tab1.jpg") center/cover no-repeat;

    @include retina {
      background: url("../img/svg/card-icon.svg") no-repeat bottom right,
        $gradient-catalog,
        url("../img/catalog/card-tab1@2x.jpg") center/cover no-repeat;
    }
  }

  @include vp-767 {
    background: url("../img/svg/card-icon.svg") no-repeat bottom right/40px 40px,
      $gradient-catalog,
      url("../img/catalog/card-mob1.jpg") center/cover no-repeat;

    @include retina {
      background: url("../img/svg/card-icon.svg") no-repeat bottom right/40px 40px,
        $gradient-catalog,
        url("../img/catalog/card-mob1@2x.jpg") center/cover no-repeat;
    }
  }
}

.catalog__link--mounting {
  @include vp-1024 {
    background: url("../img/svg/card-icon.svg") no-repeat bottom right,
      $gradient-catalog,
      url("../img/catalog/card-desk2.jpg") center/cover no-repeat;

    @include retina {
      background: url("../img/svg/card-icon.svg") no-repeat bottom right,
        $gradient-catalog,
        url("../img/catalog/card-desk2@2x.jpg") center/cover no-repeat;
    }
  }

  @include vp-768 {
    background: url("../img/svg/card-icon.svg") bottom right no-repeat,
      $gradient-catalog,
      url("../img/catalog/card-tab2.jpg") center/cover no-repeat;

    @include retina {
      background: url("../img/svg/card-icon.svg") no-repeat bottom right,
        $gradient-catalog,
        url("../img/catalog/card-tab2@2x.jpg") center/cover no-repeat;
    }
  }

  @include vp-767 {
    background: url("../img/svg/card-icon.svg") no-repeat bottom right/40px 40px,
      $gradient-catalog,
      url("../img/catalog/card-mob2.jpg") center/cover no-repeat;

    @include retina {
      background: url("../img/svg/card-icon.svg") no-repeat bottom right/40px 40px,
        $gradient-catalog,
        url("../img/catalog/card-mob2@2x.jpg") center/cover no-repeat;
    }
  }
}

.catalog__link--components {
  @include vp-1024 {
    background: url("../img/svg/card-icon.svg") no-repeat bottom right,
      $gradient-catalog,
      url("../img/catalog/card-desk3.jpg") center/cover no-repeat;

    @include retina {
      background: url("../img/svg/card-icon.svg") no-repeat bottom right,
        $gradient-catalog,
        url("../img/catalog/card-desk3@2x.jpg") center/cover no-repeat;
    }
  }

  @include vp-768 {
    background: url("../img/svg/card-icon.svg") bottom right no-repeat,
      $gradient-catalog,
      url("../img/catalog/card-tab3.jpg") center/cover no-repeat;

    @include retina {
      background: url("../img/svg/card-icon.svg") no-repeat bottom right,
        $gradient-catalog,
        url("../img/catalog/card-tab3@2x.jpg") center/cover no-repeat;
    }
  }

  @include vp-767 {
    background: url("../img/svg/card-icon.svg") no-repeat bottom right/40px 40px,
      $gradient-catalog,
      url("../img/catalog/card-mob3.jpg") center/cover no-repeat;

    @include retina {
      background: url("../img/svg/card-icon.svg") no-repeat bottom right/40px 40px,
        $gradient-catalog,
        url("../img/catalog/card-mob3@2x.jpg") center/cover no-repeat;
    }
  }
}
