.catalog {
  background-color: $color-black-pearl;
  color: $color-default-white;
}

.catalog__container {
  padding: 65px 50px 143px;

  @include vp-1023 {
    padding: 54px 50px 75px;
  }

  @include vp-767 {
    padding: 48px 25px 86px;
  }
}

.catalog h2 {
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 0 0 52px 0;

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    font-size: 28px;
    line-height: 39px;
    margin-bottom: 27px;
  }
}

.catalog__item a {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 650px;
  padding: 50px 40px;
  color: $color-default-white;
  transition: opacity $trans-default;

  @include vp-1023 {
    min-height: 250px;
    padding: 40px 45px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    padding: 30px 50px 30px 30px;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}

.catalog__item h3 {
  position: relative;
  z-index: 6;
  margin: 0;
  max-width: 193px;
  font-weight: 400;
  font-size: 20px;
  font-family: $ff-robotocondensed;
  line-height: 30px;

  @include vp-1023 {
    max-width: 290px;
  }

  @include vp-767 {
    max-width: 190;
    font-size: 18px;
  }
}

.catalog__item img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.catalog__line-break {
  display: none;

  @include vp-1023 {
    display: block;
  }
}

.catalog__title-mob {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.catalog__title-desk {
  @include vp-767 {
    display: none;
  }
}

.catalog__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 350px));
  row-gap: 30px;
  column-gap: 7%;

  @include vp-1023 {
    grid-template-columns: 1fr;
  }
}

.catalog__item a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: url("../img/svg/card-icon.svg") no-repeat bottom right,
    $gradient-catalog;

  @include vp-767 {
    background-size: 40px 40px;
  }
}
