
.header {
  width: 100%;
  min-height: 120px;
  background: $black-pearl-to-bottom;
  color: $color-default-white;
}

.header__container {
  display: flex;
  padding: 30px 50px 35px;
  align-items: center;
  justify-content: space-between;
  column-gap: 5%;
}

.header__contacts {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 17%;
  row-gap: 10px;
  align-items: center;
  min-width: 450px;
}

.header__link {
  display: block;
  color: $color-alice-blue;
  padding: 5px 10px 5px 41px;
  line-height: 18px;
  position: relative;
}

.header__link-icon {
  fill: $deep-sky-blue;
  position: absolute;
  left: 0;
}

.header__link-btn {
  font-size: 14px;
  line-height: 16px;
  align-self: center;
  padding: 10px 15px;
  background-color: transparent;
  min-width: 160px;
  justify-content: center;
  color: $color-alice-blue;
  border: 1px solid $color-alice-blue;
}

@include vp-1024 {
  header {
    position: fixed;
  }
}

@include vp-767 {
  .header__container {
    padding: 15px 25px 20px;
  }

  .header__logo {
    width: 35px;
    height: 35px;
  }
}

@include vp-1023 {
  .header__container {
    padding: 20px 50px 25px;
  }

  .header__link span,
  .header__link-btn {
    display: none;
  }

  .header__link {
    padding: 0;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__link-icon {
    position: static;
  }

  .header__contacts {
    column-gap: 20px;
    min-width: auto;
  }
}
