.modal {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  color: $color-default-white;
  background-color: rgba($color-black-pearl-3, 0.7);
}

.modal.is-closed {
  display: none;
}

.modal__wrapper {
  position: relative;
  max-width: 500px;
  margin: auto;
  background-color: $color-deep-sky-blue-2;
  padding: 37px 40px 42px;
  box-sizing: border-box;
  border-radius: 3px;
}

.modal h2 {
  margin: 0;
  font-family: $ff-robotocondensed;
  font-weight: 400;
  font-size: 30px;
  line-height: 42px;
  color: $color-default-white;
  margin-bottom: 5px;
}

.modal p {
  margin: 0;
  margin-bottom: 36px;
}

.modal fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.modal input {
  margin-bottom: 18px;
  padding: 15px 0 15px 15px;
  background-color: $color-black-pearl-opacity-2;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  color: $color-default-white;
  transition: opacity $trans-default;

  &::placeholder {
    color: $color-default-white;
  }

  @include hover-focus {
    &:not(:disabled) {
      opacity: 0.8;
    }
  }
}

.modal textarea {
  margin-bottom: 20px;
  padding: 25px 15px 3px;
  background-color: $color-black-pearl-opacity-2;
  border: none;
  border-radius: 3px;
  width: 100%;
  color: $color-default-white;
  transition: opacity $trans-default;

  &::placeholder {
    color: $color-default-white;
  }

  @include hover-focus {
    &:not(:disabled) {
      opacity: 0.8;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.modal__submit-wrapper {
  display: flex;
  flex-direction: column;
}

.modal input[type="checkbox"]:focus:not(:disabled) + label {
  outline: 1px solid $color-default-white;
  border-radius: 2px;
}

.modal input:disabled {
  opacity: 0.5;
  pointer-events: none;

  & + label[for="modal-agreement"] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.modal label[for="modal-agreement"] {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $color-white-opacity;
  padding-left: 33px;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid $color-default-white;
    border-radius: 2px;
    left: 8px;
    top: 0;
  }

  @include hover {
    &:not(:disabled) {
      opacity: 0.8;
    }
  }
}

.modal input[type="checkbox"] {
  position: absolute;
  bottom: 20px;
  left: 55px;
  width: 1px;

  &:checked + label::before {
    background: url("../img/svg/arrow-checkbox.svg") no-repeat 20% center;
  }
}

.modal__submit-btn {
  background-color: $color-black-pearl-2;
  border: none;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 10px 12px;
  margin-bottom: 20px;
  order: -1;
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 6px;
    width: 27px;
    height: 1px;
    background-color: $color-default-white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
