.social {
  list-style-type: none;
  color: $color-white-opacity-2;
  display: flex;
  padding: 0;
}

.social__icon {
  fill: $color-tory-blue;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.7;
  }
}
